<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:oracle:thin:@192.168.50.159:1521:ACCORD</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
      <mapping class="com.jwt.auth.model.mySql.User"/>
      <mapping class="com.jwt.auth.model.mySql.Role"/>
      <mapping class="com.jwt.auth.model.oracle.TmpIdocDepartment"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>